@import "./repo-card.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;

    nav {
        background: #24292e;
        color: #fff;

        .logo {
            color: #FFF
        }

        .link {
            color: #FFF;

            &:hover {
                color: #d1d3d4
            }
        }


    }

    .navaba {
        color: #FFF;

    }
}